{% extends 'base.html.twig' %}

{% block title %}Profil modification{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success text-center" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container text-center"><br>
    <h1 class="my-5">Modification password</h1><br>
    <div class=" border py-4 px-5">
    {{ form_start(form) }}
    {{ form_widget(form) }}<br>

    <button type="submit" class="btn-roun-shadow btn btn-primary">Update password</button>

    {{ form_end(form) }}<br>
    </div><br><br><br><br><br><br><br><br>
</div>

{% endblock %}