{% block body %}

<header class=" masthead slider text-white text-center">
    <div class="container align-items-center ">
        <p class="hook-text">Snowtricks a community for snowboard enthusiasts</p>
        
    </div>
</header>

{% endblock %}