body,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  height: 60%;
  width: 60%;
}

i.wi {
  font-size: 3em;
  line-height: 50px;
  color: grey;
}

.clear {
  background-image: url('../images/soleil.jpg');
}

.clouds {
  background-image: url('../images/nuageux.jpg');
}

.rain {
  background-image: url('../images/pluie.jpg');
}

.snow {
  background-image: url('../images/neige.jpg');
}

.fog {
  background-image: url('../images/fog.jpg');
}

.mist {
  background-image: url('../images/mist.jpg');
}

body.modal {
  background-position: center;
  background-size: cover;
}

.cart {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.30);
}

.winter {
  color: rgba(33, 37, 41, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1em;
}

.winterday {
  font-size: 1.8em;
  color: rgb(21, 21, 241);
}

.brouillard {
  background-image: url('brouillard.jpg');
}

.pipe {
  display: none !important;
}

.navbar {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: grey;
  text-shadow: lightblue 0.1em 0.1em 0.2em;
}

.title-show {
  color: grey;
  text-shadow: lightblue 0.1em 0.1em 0.2em;
}

.name-trick {
  text-decoration: underline;
  color: gray;
  font-size: 27px;
  text-shadow: gray 0.1em 0.1em 0.2em;
  font-family: 'Montserrat', sans-serif;
}

.hook-text {
  font-size: 15px;
  position: absolute;
  margin-top: 150px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'Poppins', sans-serif;
}

.image-tricks {
  width: 150px;
  height: 100px;
}

.image-trick {
  width: 100%;
  height: auto;
}

.btn {
  border-radius: 25px !important;
  text-decoration: none;
}

.btn-roun-shadow {
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.75) !important;
  border-radius: 25px !important;
}

.slider {
  background: url('../img/pic_home.jpg') center center/cover no-repeat;
}

.image-trick-mini {
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.75) !important;
}

.image-trick-poster {
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.75) !important;
}

.video-trick-mini {
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.75) !important;
}

.badge-shadw {
  box-shadow: 5px 10px 20px 5px rgba(93, 125, 185, 0.75) !important;
  border-radius: 25px !important;
}

.masthead {
  height: 900px;
  z-index: 50;
}

.scroll-to-down .btn {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
  border-radius: 10%;
}

.scroll-to-down {
  z-index: 100;
  right: 1rem;
  bottom: 1rem;
}

.fa-chevron-down {
  font-size: 20px;
}

.scroll-to-up a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
  border-radius: 10%;
}

.profile {
  border-radius: 50%;
  box-shadow: 5px 10px 20px 5px rgba(93, 125, 185, 0.75) !important;
}

.mini-profile {
  border-radius: 50%;
  max-width: 25px;
  max-height: 25px;
}

.scroll-to-up {
  z-index: 1;
  right: 15px;
  top: 652px;
}

.fa-chevron-up {
  font-size: 20px;
}

.margout {
  margin-right: 0 !important;
}

/*modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn .9s both;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 60px;
  margin-top: 150px;
  border-radius: 10px;
  animation: slideFromTop .9s both .1s;
}

button.js-modal-close {
  border-radius: 5px !important;
  border: solid 2px lightgrey ! important;
}

.fas.fa-times {
  font-size: 25px;
  color: grey;
}

.see {
  display: block;
  cursor: pointer;
}

.bt-edit-poster {
  display: block;
  position: absolute;
  z-index: 50;
  margin-left: 250px;
  top: 345px;
}

.modal[aria-hidden="true"] {
  animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
  animation-name: slideToBot;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-350px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes slideToBot {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(550px);
  }
}

@media (min-width: 992px) {
  .image-trick {
    width: 900px;
    height: 450px;
  }

  .hook-text {
    font-size: 35px;
  }

  .pipe {
    display: flex !important;
  }

  img:hover {
    transform: scale(1.075);
  }

  img {
    transition: transform 0.3s ease-out;
    border-radius: 2%;
  }

  .video-tricks:hover {
    transform: scale(1.075);
  }

  .video-tricks {
    transition: transform 0.3s ease-out;
    border-radius: 2%;
  }

  .modal-wrapper {
    width: 50%;
    margin-left: 480px !important;
    margin-right: 150px !important;
    margin-top: 300px;
  }

  .see {
    display: none !important;
  }

  .media-none {
    display: block !important;
  }

  .bt-edit-poster {
    margin-left: 890px;
    top: 170px;
  }

  .bt-edit-poster {
    display: block !important;
  }

}