<br>
<footer class="footer mt-auto border-top bg-light">
    <span class="p">&copy; {{ 'now'|date('Y')}} &middot; Built with <span class="text-danger">&hearts;&nbsp;</span>by <a
            href="https://monpersoweb.fr">monpersoweb.fr</a></span>
            {% include "shared/modal.html.twig" %}
</footer>