<p>Bonjour {{ user.pseudo }},</p>
<p>Pour votre demande de réinitialisation de mot de passe pour le site <a href=" https://monpersoweb.fr">Mon persoweb.fr</a></p>
Veuillez cliquer sur le lien suivant : <br>
<a href="{{ url | raw }}">Reset Now</a>

<p style="font-style: italic;">Ce mail expirera dans {{ expiration_date|date('g')}} heures.</p>
       